# Default ignored files
/shelf/
/workspace.xml


# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# =========================
#   IntelliJ / JetBrains
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
#   Sistema operativo
# =========================
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~


# File temporanei
*.tmp
*.temp